.post-card-page h3 {
  margin-bottom: 30px;
}

.delete-button {
  margin-top: 20px;
  margin-bottom: 40px;
}

.dashboard-redirect {
  position: fixed; /* Keep the link fixed to the bottom-left corner */
  bottom: 20px;
  left: 20px;
  font-size: 16px;
}

.dashboard-redirect a {
  text-decoration: none;
  color: #f037b6; /* Link color */
  transition: color 0.3s ease;
}

.dashboard-redirect a:hover {
  color: #f675cd; /* Hover color for the link */
}

@media (max-width: 600px) {
  .post-card-page {
    margin: 10px;
    padding: 5px;
  }

  .dashboard-redirect {
    font-size: 14px;
    left: 10px;
    bottom: 10px;
  }
}
