.app-navbar {
    position: fixed;
    background-color: #f037b6;
    top: 0;
    left: 0;
    /* width: "100%"; */
    color: #fff;
    z-index: 1000;
}

.navbar-tabs {
    margin-right: 7px;
    margin-left: 7px;
    color: inherit;
    text-decoration: none;
}